// .post-copyright {
//   margin: $post-copyright.margin;
//   padding: $post-copyright.padding;
//   border-left: $post-copyright.border.width $post-copyright.border.style $post-copyright.border.color;
//   background-color: $post-copyright.bg;
//   list-style: none;
// }
.post-copyright {
  margin: 2em 0 0;
  padding: 0.5em 1em;
  border-left: 3px solid #FF1700;
  background-color: #F9F9F9;
  list-style: none;
}
